[tool.poetry]
name = "clang_tidy_checker"
version = "0.1.1"
description = "Tool to check C / C++ source codes using clang-tidy."
authors = ["Kenta Kabashima <kenta_program37@hotmail.co.jp>"]
license = "MIT"
readme = "README.md"
homepage = "https://gitlab.com/MusicScience37/clang-tidy-checker"
repository = "https://gitlab.com/MusicScience37/clang-tidy-checker.git"
# documentation = "TODO"
keywords = ["clang-tidy", "c++"]
# Classifiers: https://pypi.org/classifiers/
classifiers = [
    "Development Status :: 3 - Alpha",
    "Framework :: Trio",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: C",
    "Programming Language :: C++",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Quality Assurance",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = ">= 3.9, < 3.11"
trio = "^0.21.0"
PyYAML = "^6.0"
click = "^8.1.3"
tqdm = "^4.64.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.20.0"
Sphinx = "^5.0.2"
black = "^22.6.0"
doc8 = "^0.11.2"
pylint = "^2.14.5"
sphinx-autobuild = "^2021.3.14"
sphinx-rtd-theme = "^1.0.0"
mypy = "^0.971"
flake8 = "^4.0.1"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
trio-typing = { extras = ["mypy"], version = "^0.7.0" }
cmakelang = "^0.6.13"
pytest-approvaltests = "^0.2.4"
types-PyYAML = "^6.0.11"
toml = "^0.10.2"
types-toml = "^0.10.8"
myst-parser = "^0.18.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
clang-tidy-checker = "clang_tidy_checker.main:main"
